version: '3.8'

services:
  mario_rl:
    build: .
    ports:
      - "5000:5000"
      - "5432:5432"
      - "6006:6006"
    volumes:
      - ./app:/app
    environment:
      FLASK_APP: app.py
      FLASK_ENV: development
      FLASK_DEBUG: 1
    entrypoint: ["/docker-entrypoint-initdb.d/init_postgres.sh"]
    stdin_open: true
    tty: true
